
  <%= form_with(model: student) do |form| %>
    <% if student.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

        <ul>
          <% student.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name,:class=>"form-control" %>
    </div>

    <div class="field">
      <%= form.label :stuno %>
      <%= form.text_field :stuno,:class=>"form-control" %>
    </div>

    <div class="field">
      <%= form.label :birth %>
      <%= form.text_field :birth,:class=>"form-control" %>
    </div>

    <div class="field">
      <%= form.label :male %>
      <%= form.text_field :male,:class=>"form-control" %>
    </div>

    <div class="field">
      <%= form.label :group_id %>
      <%= form.text_field :group_id,:class=>"form-control" %>
    </div>

    <div class="actions">
      <%= form.submit 'save', :class=>"btn btn-primary"%>
    </div>
  <% end %>

