<p id="notice"><%= notice %></p>

<h1>Students</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Stuno</th>
      <th>Birth</th>
      <th>Male</th>
      <th>Group_id</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.stuno %></td>
        <td><%= student.birth %></td>
        <td><%= student.male %></td>
        <td><%= student.group_id %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= form_tag   getstuwei_students_path, method: :get,remote: true,
               class: 'srch3' do  %>

  <div class="actions srch">
    <%= submit_tag '查询即将退学学生'%>
  </div>

<%end %>

<%= form_tag   searchbysno_search_index_path, method: :get,remote: true,
              class: 'srch1' do  %>

  <div class="field">
    <%= text_field_tag :stuno, nil , placeholder:'学号' %>
  </div>

  <div class="actions srch">
    <%= submit_tag '根据学号查询'%>
  </div>

<%end %>

<%= form_tag   searchbynm_search_index_path, method: :get,remote: true,
               class: 'srch2' do  %>

  <div class="field">
    <%= text_field_tag :name, nil , placeholder:'姓名' %>
  </div>

  <div class="actions srch">
    <%= submit_tag '根据姓名查询'%>
  </div>

<%end %>

<%= form_tag   searchbymno_search_index_path, method: :get,remote: true,
               class: 'srch3' do  %>

  <div class="field">
    <%= text_field_tag :mno, nil , placeholder:'专业号' %>
  </div>

  <div class="actions srch">
    <%= submit_tag '根据专业号查询'%>
  </div>

<%end %>

<%= link_to 'New Student', new_student_path %>




<%#= content_for :javascripts do %>
<!--  <script type="text/javascript">-->
<!--    // alert('232222');-->
<!--    $(".srch").on("ajax:success",function(event,data) {-->
<!--        alert('111');-->
<!--      if (data.status == 'ok'){-->
<!--          alert("1111111");-->
<!--      }-->
<!--      else{-->
<!--          alert(data.msg);-->
<!--      }-->
<!--    });-->
<!--  </script>-->
<%#end -%>