<p id="notice"><%= notice %></p>

<h1>Students</h1>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Stuno</th>
      <th scope="col">Birth</th>
      <th scope="col">Male</th>
      <th scope="col">Group_id</th>
      <th scope="col">Option</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.stuno %></td>
        <td><%= student.birth %></td>
        <td><%= student.male %></td>
        <td><%= student.group_id %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= form_tag   getstuwei_students_path, method: :get,remote: true,class: 'srch' do  %>

  <div class="actions"  >
    <%= submit_tag '查询即将退学学生',:class => 'btn btn-primary'%>
  </div>

<%end %>

<%= form_tag   searchbysno_search_index_path, method: :get,remote: true do  %>

  <div class="field">
    <%= text_field_tag :stuno, nil , placeholder:'学号' %>
  </div>

  <div class="actions ">
    <%#= submit_tag '根据学号查询'%>
    <input type="submit" name="commit" value="根据学号查询"
           class="btn btn-primary" data-toggle="modal"
           data-target="#staticBackdrop" data-disable-with="根据学号查询">
  </div>

<%end %>

<!--<div id="srchbysno">-->
  <%#=render 'students/result' %>
<!--</div>-->

<%= form_tag   searchbynm_search_index_path, method: :get,remote: true do  %>

  <div class="field">
    <%= text_field_tag :name, nil , placeholder:'姓名' %>
  </div>

  <div class="actions">
    <%#= submit_tag '根据姓名查询'%>
    <input type="submit" name="commit" value="根据姓名查询"
           class="btn btn-primary" data-toggle="modal"
           data-target="#staticBackdrop" data-disable-with="根据姓名查询">
  </div>

<%end %>

<div id="srchbysno">
  <%=render 'students/result' %>
</div>

<%= form_tag   searchbymno_search_index_path, method: :get,remote: true do  %>

  <div class="field">
    <%= text_field_tag :mno, nil , placeholder:'专业号' %>
  </div>

  <div class="actions">
    <%#= submit_tag '根据专业号查询'%>
    <input type="submit" name="commit" value="根据专业号查询"
           class="btn btn-primary" data-toggle="modal"
           data-target="#staticBackdrop" data-disable-with="根据专业号查询">
  </div>

<%end %>

<%= link_to 'New Student', new_student_path %>

<!-- Button trigger modal -->
<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">-->
<!--  Launch static backdrop modal-->
<!--</button>-->

<!-- Modal 模态框-->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="results">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
<!--        <button type="button" class="btn btn-primary">Understood</button>-->
      </div>
    </div>
  </div>
</div>


<%#= content_for :javascripts do %>
<!--  <script type="text/javascript">-->
<!--    // alert('232222');-->
<!--    $(".srch").on("ajax:success",function(event,data) {-->
<!--        alert('111');-->
<!--      if (data.status == 'ok'){-->
<!--          alert("1111111");-->
<!--      }-->
<!--      else{-->
<!--          alert(data.msg);-->
<!--      }-->
<!--    });-->
<!--  </script>-->
<%#end -%>