
<div class="container">
  <h2>学生信息页</h2>

  <p id="notice"><%= notice %></p>
  <p>
    <strong>Name:</strong>
    <%= @student.name %>
  </p>

  <p>
    <strong>Stuno:</strong>
    <%= @student.stuno %>
  </p>

  <p>
    <strong>birth:</strong>
    <%= @student.birth %>
  </p>

  <p>
    <strong>male:</strong>
    <%= @student.male ? '男' : '女' %>
  </p>

  <p>
    <strong>group:</strong>
    <%= @student.group.name %>
  </p>

  <p>
    <strong>major:</strong>
    <%= @student.group.major.name %>
  </p>

  <table class="table table-hover ">
    <thead>
    <tr>
      <th>Course Name</th>
      <th>Course Nature</th>
      <th>Start Time</th>
      <th>Credit</th>
      <th>Grade</th>
      <th>Make Up</th>
      <th colspan="6"></th>
    </tr>
    </thead>

    <tbody>
    <% @courses.each do |course| %>
      <tr>
        <%mc=MajorsCourses.where('major_id = ? AND course_id = ? ',@major.id,course.id ).first %>
        <td><%= course.name %></td>
        <td><%= mc.compulsory ? '必修' : '选修' %></td>
        <td><%= MajorsCourses.find_by(course_id: course.id,major_id: @student.group.major.id).start_time %></td>
        <td><%= mc.credit %></td>
        <% sc=StudentsCourses.joins("INNER JOIN courses ON course_id=courses.id").
            where("course_id = ? AND student_id = ?" , course.id , @student.id).first%>
        <td><%= sc.grade %></td>
        <%if sc.grade<60 %>
          <td><%= sc.make_up ? '已补考' : '未补考' %></td>
        <%else%>
          <td>通过</td>
        <%end%>
      </tr>
    <% end %>
    </tbody>
  </table>


<br>


  <tr>
    <td>Weighted average of compulsory courses: <%= @comans %></td>
    <br>
    <td>Weighted average of all courses: <%= @allans %></td>
  </tr>

  <p class="le">
    任课老师:
    <%@result.each do |rs| %>
      <%=link_to Teacher.find(rs).name, teacher_path(rs) %>
    <% end %>
  </p>
  <%= link_to 'Edit', edit_student_path(@student),:class => 'btn btn-success' %>
  <%= link_to 'Back', students_path , :class => 'btn btn-secondary text-white ' %>

</div>


