<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Stuno:</strong>
  <%= @student.stuno %>
</p>

<p>
  <strong>birth:</strong>
  <%= @student.birth %>
</p>

<p>
  <strong>male:</strong>
  <%= @student.male %>
</p>

<p>
  <strong>group_id:</strong>
  <%= @student.group_id %>
</p>

<% @courses.each do |course| %>
  <tr>
    <td><%= course.name %></td>
    <td><%= course.compulsory%></td>
    <td><%= TeachersCourses.find_by(course_id: course.id,group_id: @student.group_id).start_time %></td>
    <td><%= course.credit %></td>
    <%# cor=Course.find course.id%>
    <td><%= StudentsCourses.joins("INNER JOIN courses ON course_id=courses.id").
                  where("course_id = ? AND student_id = ?" , course.id , @student.id).average(:grade) %></td>
  </tr>
  <br>
<% end %>
<tr>
  <td><%= @comans %></td>
  <td><%= @allans %></td>
</tr>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>

<p>
  任课老师:
<%@result.each do |rs| %>
  <%=p Teacher.find(rs).name %>
<% end %>
</p>

