
<div class="container">
  <h2>学生信息页</h2>

  <p id="notice"><%= notice %></p>
  <p>
    <strong>Name:</strong>
    <%= @student.name %>
  </p>

  <p>
    <strong>Stuno:</strong>
    <%= @student.stuno %>
  </p>

  <p>
    <strong>birth:</strong>
    <%= @student.birth %>
  </p>

  <p>
    <strong>male:</strong>
    <%= @student.male %>
  </p>

  <p>
    <strong>group_id:</strong>
    <%= @student.group_id %>
  </p>
</div>
<div class="container">

  <table class="table table-hover text-center">
    <thead>
    <tr>
      <th>Course Name</th>
      <th>Course Feature</th>
      <th>Start Time</th>
      <th>Credit</th>
      <th>Average Grade</th>
      <th colspan="5"></th>
    </tr>
    </thead>

    <tbody>
    <% @courses.each do |course| %>
      <tr>
        <%mc=MajorsCourses.where('major_id = ? AND course_id = ? ',@major.id,course.id ).first %>
        <td><%= course.name %></td>
        <td><%= mc.compulsory%></td>
        <td><%= TeachersCourses.find_by(course_id: course.id,group_id: @student.group_id).start_time %></td>
        <td><%= mc.credit %></td>
        <%# cor=Course.find course.id%>
        <td><%= StudentsCourses.joins("INNER JOIN courses ON course_id=courses.id").
                where("course_id = ? AND student_id = ?" , course.id , @student.id).average(:grade) %></td>
      </tr>
      <br>
    <% end %>
    </tbody>
  </table>

</div>

<br>

<div class="container">

  <tr>
    <td>Weighted average of compulsory courses: <%= @comans %></td>
    <br>
    <td>Weighted average of all courses: <%= @allans %></td>
  </tr>

  <p class="le">
    任课老师:
    <%@result.each do |rs| %>
      <%=p Teacher.find(rs).name %>
    <% end %>
  </p>
  <%= link_to 'Edit', edit_student_path(@student),:class => 'btn btn-success' %>
  <%= link_to 'Back', students_path , :class => 'btn btn-secondary text-white ' %>

</div>


