<%#addp= '/majors/'+@major.id.to_s+'/addcourse'%>
<%= link_to 'add course', addcourse_majors_path %>
<%= link_to 'all courses', showcoursesofmajor_majors_path %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @major.name %>
</p>

<p>
  <strong>Mno:</strong>
  <%= @major.mno %>
</p>

<%= link_to 'Edit', edit_major_path(@major) %> |
<%= link_to 'Back', majors_path %>
