
<div class="container">
<p id="notice"><%= notice %></p>

<h1>Courses Offered</h1>

<table class="table table-hover">
  <thead class="text-center">
  <tr>
    <th>Teacher</th>
    <th>Group</th>
    <th>Course</th>
    <th>Start time</th>
    <th colspan="4"></th>
  </tr>
  </thead>

  <tbody>
  <% @SC.each do |items| %>
    <tr>
      <td><%= Teacher.find(items.teacher_id).name %></td>
      <td><%= Group.find(items.group_id).name%></td>
      <td><%= Course.find(items.course_id).name %></td>
      <td class="text-center"><%= items.start_time %></td>
      <!--      <td><%#= link_to 'Show', teacher %></td>-->
      <!--      <td><%#= link_to 'Edit', edit_teacher_path(teacher) %></td>-->
      <!--      <td><%#= link_to 'Destroy', teacher, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Teacher', new_teacher_path %>


  <%= form_tag   courseset_teachers_path, method: :get,
                 class: 'srch2' do  %>

    <div class="field">
      Teacher Name
      <%= text_field_tag :teacher_name, nil , placeholder:'老师姓名' ,:class=>"form-control"%>
    </div>

    <div class="field">
      Group Number
      <%= text_field_tag :gno, nil , placeholder:'班号',:class=>"form-control" %>
    </div>

    <div class="field">
      Course Number
      <%= text_field_tag :cno, nil , placeholder:'课程号',:class=>"form-control" %>
    </div>

    <div class="field">
      Start Time
      <%= text_field_tag :start_time, nil , placeholder:'开设时间',:class=>"form-control" %>
    </div>

    <div class="actions srch">
      <%= submit_tag '提交', :class=>"btn btn-primary"%>
    </div>

  <%end %>
</div>