


<p id="notice"><%= notice %></p>

<h1>Grades Input</h1>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Course</th>
    <th>Grade</th>
    <th colspan="4"></th>
  </tr>
  </thead>

  <tbody>
  <% @SC.each do |items| %>
    <tr>
      <td><%= Student.find(items.student_id).name %></td>
      <td><%= Course.find(items.course_id).name %></td>
      <td><%= items.grade %></td>
<!--      <td><%#= link_to 'Show', teacher %></td>-->
<!--      <td><%#= link_to 'Edit', edit_teacher_path(teacher) %></td>-->
<!--      <td><%#= link_to 'Destroy', teacher, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Teacher', new_teacher_path %>

<div class="container">

  <%= form_tag   gradeinput_teachers_path, method: :get do  %>

    <div class="field">
      <%= text_field_tag :stuno, nil , placeholder:'学号',:class=>"form-control" %>
    </div>

    <div class="field">
      <%= text_field_tag :cno, nil , placeholder:'课程号',:class=>"form-control" %>
    </div>

    <div class="field">
      <%= text_field_tag :grade, nil , placeholder:'成绩',:class=>"form-control" %>
    </div>

    <div class="actions srch">
      <%= submit_tag '提交', :class=>"btn btn-primary"%>
    </div>

  <%end %>
</div>