
<div class=" container pb-5">
  <h2>教师信息页</h2>

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @teacher.name %>
  </p>

  <p>
    <strong>Tno:</strong>
    <%= @teacher.tno %>
  </p>

  <p>
    <strong>major:</strong>
    <%=link_to @teacher.major.name,major_path(@teacher.major) %>
  </p>

  <%= link_to 'Edit', edit_teacher_path(@teacher),:class => 'btn btn-success' %>
  <%= link_to 'Back', teachers_path , :class => 'btn btn-secondary text-white ' %>

</div>
