<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>Tno:</strong>
  <%= @teacher.tno %>
</p>

<p>
  <strong>major_id:</strong>
  <%= @teacher.major_id %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
