
<div class="container">

  <h2>课程信息页</h2>

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @course.name %>
  </p>

  <p>
    <strong>Cno:</strong>
    <%= @course.cno %>
  </p>

  <p>
    <!--  <strong>Compulsory:</strong>-->
    <%#= @course.compulsory %>
    <!--</p>-->

    <!--<p>-->
    <!--  <strong>Start_time:</strong>-->
    <%#= @course.start_time %>
    <!--</p>-->

    <!--<p>-->
    <!--  <strong>Credit:</strong>-->
    <%#= @course.credit %>
    <!--</p>-->

    <%= link_to 'Edit', edit_course_path(@course),:class => 'btn btn-success'  %>
    <%= link_to 'Back', courses_path , :class => 'btn btn-secondary text-white '%>

</div>