<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Cno:</strong>
  <%= @course.cno %>
</p>

<p>
  <strong>Compulsory:</strong>
  <%= @course.compulsory %>
</p>

<p>
  <strong>Start_time:</strong>
  <%= @course.start_time %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
