<!DOCTYPE html>
<html>
  <head>
    <title>StudentDB</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
    <%if request.url!=root_url %>
      <%=link_to '返回主页', root_path %>
    <%end %>
    <%if current_admin %>
      <%= button_to "logout", destroy_admin_session_path, method: :delete  %>
      <%#= button_to "AdminDashboard", 'y',method: :get  %>
    <%end %>
  </body>

</html>
